# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.exe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
.vs/
*.user
*.ipdb
*.iobj
*.lastcodeanalysissucceeded

# WonderMake Files
Bin/*.exe
Bin/*.lib
Bin/imgui.ini
Bin/Logs/

Intermediate/

WonderMakeLauncher/Registry/*.cpp
WonderMakeLauncher/Registry/*.h
WonderMakeLauncher/Logs/
imgui.ini
Bin/debugSettings.json
PlaceholderLibrary/
nicostodo*
